<div id="messages"></div>
<form id="message-form">
    <input type="text" placeholder="Mesaj Gönder" />
    <button type="button">Gönder</button>
</form>

<script src="~/js/signalr/dist/browser/signalr.js" type="text/javascript"></script>
<script>
    let button = document.querySelector("#message-form>button");
    let input = document.querySelector("#message-form>input");
    let conn;

    (function setupConnection() {
        var connection = new signalR.HubConnectionBuilder().withUrl("/messagehub").build();

        connection.on("messageToAdmin", function (message, user) {

            var newMessageNode = document.createElement("div");
            newMessageNode.classList.add("col-lg-12");
            var textnode = document.createTextNode(`${user}: ${message}`);
            newMessageNode.appendChild(textnode);
            var messageDiv = document.getElementById("messages");
            messageDiv.appendChild(newMessageNode, messageDiv.firstChild);

        });

        connection.start().catch(err => console.error(err.toString())).then(response => console.log("connected"));
        conn = connection;
    })();

    button.addEventListener("click", async function () {
        let message = {
            connId: conn.connectionId,
            content: input.value
        };
        conn.invoke("SendMessageToUser", message.content, message.connId).catch(function (err) {
            return console.error(err.toString());
        });
    });
</script>
