@model List<BtkAkademi.Web.Models.Message>

<div id="messages">
    @{
        var conversations = new List<Guid>();
        foreach (var item in Model)
        {
            if (!conversations.Contains(item.ConversationId))
            {
                conversations.Add(item.ConversationId);
            }
        }

        foreach (var item in conversations)
        {
            <div data-conversation="@item">
                <h4>Conversation-@item Messages</h4>
                @{
                    var messages = Model.Where(m => m.ConversationId == item);
                }
                @foreach (var message in messages)
                {
                    var userType = message.IsAdmin ? "Admin" : "User";
                    <div>
                        <span>@userType-@message.ClientConnectionId:</span>
                        <span>@message.MessageContent</span>
                    </div>
                }
                <form>
                    <input type="text" placeholder="Mesaj Gönder" />
                    <button type="button">Gönder</button>
                </form>
                <span data-conversation="@item">Delete Conversation</span>
            </div>
        }
    }
</div>

<script src="~/js/signalr/dist/browser/signalr.js" type="text/javascript"></script>
<script>
    let messageDiv = document.querySelector("#messages");
    let conn;

    (function setupConnection() {
        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44353/messagehub").build();

        connection.on("newMessageToAdmin", function (message) {
            const conversation = document.querySelector(`[data-conversation="${message.conversationId}"]`);
            if (conversation) {
                conversation.innerHTML += `<div>
                                <span>User-${message.clientConnectionId}: </span>
                                    <span> ${message.messageContent}</span>
                                    </div>`;
            }
            else {
                const newConversation = `<div data-conversation="${message.conversationId}">
                                <h4>Conversation-${message.conversationId} Messages</h4>
                                    <div>
                                        <span>User-${message.clientConnectionId}:</span>
                                        <span>${message.messageContent}</span>
                                    </div>
                                    <form>
                                        <input type="text" placeholder="Mesaj Gönder" />
                                        <button type="button">Gönder</button>
                                    </form>
                                    <span data-conversation="${message.conversationId}">Delete Conversation</span>
                            </div>`;
                messageDiv.innerHTML += newConversation;
            }

        });

        connection.on("newMessageToAdminFromAdmin", function (message) {
            const conversation = document.querySelector(`[data-conversation="${message.conversationId}"]`);
            if (conversation) {
                conversation.innerHTML += `<div>
                                    <span>Admin-${message.clientConnectionId}: </span>
                                        <span> ${message.messageContent}</span>
                                        </div>`;
            }
            else {
                const newConversation = `<div data-conversation="${message.conversationId}">
                                    <h4>Conversation-${message.conversationId} Messages</h4>
                                        <div>
                                            <span>User-${message.clientConnectionId}:</span>
                                            <span>${message.messageContent}</span>
                                        </div>
                                        <form>
                                            <input type="text" placeholder="Mesaj Gönder" />
                                            <button type="button">Gönder</button>
                                        </form>
                                        <span data-conversation="${message.conversationId}">Delete Conversation</span>
                                </div>`;
                messageDiv.innerHTML += newConversation;
            }

        });
        connection.on("deleteConversation", function (conversationId) {
            const conversation = document.querySelector(`div[data-conversation="${conversationId}"]`);
            if (conversation) {
                conversation.remove();
            }
        });

        connection.start().catch(err => console.error(err.toString())).then(response => console.log("connected"));
        conn = connection;
    })();

    window.addEventListener('click', async function (e) {
        console.log(e);
        if (e.target.attributes['data-conversation'] && e.target.localName === "span") {
            let conversationId = e.target.attributes['data-conversation'].nodeValue;
            conn.invoke("DeleteConversation", conversationId).catch(function (err) {
                return console.error(err.toString());
            });
        }

        if (e.target.parentElement.parentElement.attributes['data-conversation'] 
            && e.target.localName === "button") {
            let conversationId = e.target
                .parentElement.parentElement.attributes['data-conversation'].nodeValue;
            let message = {
                ClientConnectionId: conn.connectionId,
                ConversationId: conversationId,
                MessageContent: e.target.parentElement.querySelector('input').value,
                IsAdmin: true
            };
            conn.invoke("SendMessageToUser", message)
                .then(() => e.target.parentElement.querySelector('input').value = "")
                .catch(function (err) {
                    return console.error(err.toString());
            });
        }
    });
</script>
